.dateSelector {
  padding: 5px;
  /* border: 1px solid red; */
}

.select {
  padding: 8px 12px;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #bbbbbb;
}

.select option {
  background-color: #fff;
}
